/* Vendor */
@import 'bootstrap';

/* Modules */
@import 'anchor';
@import 'animation';
@import 'covered';
@import 'messages';
@import 'print';
@import 'util';

html, body {
  height: 100%;
  margin: 0;
}

body {
  padding-top: 50px;
}

p {
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
  a, a:hover, a:visited, a:active { color: inherit; }
}

hr {
  border-color: #666;
}

/* For large form fields in tables. */
.table tbody tr td {
  vertical-align: middle;
}

article {
  img, video, audio {
    max-width: 100%;
  }
}

main, section {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.nav-tabs {
  margin-bottom: 1rem;
}

.jumbotron {
  padding-top: 0;
  height: 600px;
  h1 {
    font-weight: bold;
  }
  img {
    max-width: 100%;
  }
  .content {
    top: 50px;
  }
}

.hero-secondary {
  text-align: center;
  .content {
    margin: 90px auto;
  }
  h2 {
    color: white;
    font-weight: bold;
  }
}

.navbar {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.navbar-nav {
  .nav-item, .nav-link {
    display: inline-block;
    float: none;
  }
}

// Fix scrolling after turning the device.
// http://stackoverflow.com/questions/23893973/webkit-overflow-scrolling-touch-orientation-change-issue
@media (orientation: portrait) {
  .navbar {
    -webkit-animation: scrollfix .5s;
  }

  @-webkit-keyframes scrollfix {
    0% { overflow-x: hidden; }
    100% { overflow-x: auto; }
  }
}

footer {
  background-color: #222;
  color: #9d9d9d;
  padding-top: 1rem;
  a, a:hover, a:active, a:visited {
    color: #9d9d9d;
  }
}
