/* Vendor */
@import 'bootstrap';

/* Modules */
@import 'anchor';
@import 'animation';
@import 'covered';
@import 'messages';
@import 'print';
@import 'util';

html, body {
  height: 100%;
  margin: 0;
}

body {
  padding-top: 50px;
}

p {
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
  a, a:hover, a:visited, a:active { color: inherit; }
}

hr {
  border-color: #666;
}

/* For large form fields in tables. */
.table tbody tr td {
  vertical-align: middle;
}

article {
  img, video, audio {
    max-width: 100%;
  }
}

main, section {
  margin-top: 40px;
  margin-bottom: 40px;
}

.subnav {
  margin-bottom: 20px;
}

.panel-small {
  max-width: 500px;
  margin: 20px auto;
}

.jumbotron {
  padding-top: 0;
  height: 600px;
  h1 {
    font-weight: bold;
  }
  .content {
    top: 50px;
  }
}

.hero-secondary {
  text-align: center;
  .content {
    margin: 90px auto;
  }
  h2 {
    color: white;
    font-weight: bold;
  }
}

.navbar-brand {
  font-family: Georgia, serif;
  text-transform: uppercase;
}

.navbar-nav > li > a {
  font-weight: bold;
  font-family: Georgia, serif;
  text-transform: uppercase;
}

.footer {
  background-color: #222;
  color: #9d9d9d;
  a, a:hover, a:active, a:visited {
    color: #9d9d9d;
  }
  .colophon {
    font-family: Georgia, serif;
    text-transform: uppercase;
  }
}
