<main class='container'>
  <% include ../subnav %>
  <div class='row'>
    <div class='col-md-3 text-center'>
      <p>
        <img class='img-rounded' src='<%= imageUrl(grower, 'medium') %>'>
      </p>
      <p>
        <form method='POST' action='/growers/<%= grower.id %>/image' enctype='multipart/form-data'>
          <input type='hidden' name='return_to' value='<%= req.originalUrl %>'>
          <div class='input-group'>
            <input type='file' name='image' class='form-control' required>
            <span class='input-group-btn'>
              <button type='submit' class='btn btn-primary'>
                Upload
              </button>
            </span>
          </div>
        </form>
      </p>
      <% include nav %>
    </div>
    <div class='col-md-9'>
      <h1>Edit Grower</h1>
      <hr>
      <form method='POST' action='/growers/<%= grower.id %>' enctype='multipart/form-data'>
        <% include form %>
      </form>
    </div>
  </div>
</main>
