<main class='container'>

  <% include ../subnav %>

  <div class='row'>
    <div class='col-md-2'>
      <h3>
        Growers
      </h3>
      <hr>
      <% if (locals.admin) { %>
        <div class='text-center'>
          <a class='btn btn-default btn-xs' href='/growers/new'>
            New Grower
          </a>
        </div>
      <% } %>
    </div>
    <div class='col-md-10'>
      <div class='row'>
        <% growers.forEach(function(grower) { %>
          <div class='col-md-6'>
            <% include grower %>
          </div>
        <% }) %>
      </div>
    </div>
  </div>

</main>
