<!doctype html>
<html>
<head>
  <% include ../head %>
</head>
<body>

<% include ../nav %>

<main class='container'>

  <% include ../subnav %>

  <div class='row'>
    <div class='col-md-3'>
      <h3>Growers</h3>
      <% if (locals.admin) { %>
        <a class='btn btn-primary' href='/growers/new'>
          New Grower
        </a>
      <% } %>
    </div>
    <div class='col-md-9'>
      <% growers.forEach(function(grower) { %>
        <% include grower %>
      <% }); %>
    </div>
  </div>

</main>

<% include ../footer %>

<script src='/js/app.js'></script>

</body>
</html>
