<ul class='nav nav-tabs subnav hidden-print'>
  <li<% if (/^\/admin\/users/i.test(req.originalUrl)) { %> class='active'<% } %>>
    <a href='/admin/users'>Users</a>
  </li>
  <li<% if (/^\/admin\/orders/i.test(req.originalUrl)) { %> class='active'<% } %>>
    <a href='/admin/orders'>Orders</a>
  </li>
  <li<% if (/^\/admin\/categories/i.test(req.originalUrl)) { %> class='active'<% } %>>
    <a href='/admin/categories'>Categories</a>
  </li>
  <li<% if (/^\/admin\/locations/i.test(req.originalUrl)) { %> class='active'<% } %>>
    <a href='/admin/locations'>Locations</a>
  </li>
  <li<% if (/^\/admin\/products/i.test(req.originalUrl)) { %> class='active'<% } %>>
    <a href='/admin/products'>Products</a>
  </li>
  <li<% if (/^\/admin\/growers/i.test(req.originalUrl)) { %> class='active'<% } %>>
    <a href='/admin/growers'>Growers</a>
  </li>
  <li<% if (/^\/admin\/market/i.test(req.originalUrl)) { %> class='active'<% } %>>
    <a href='/admin/market'>Market</a>
  </li>
</ul>
