<main class='container'>
  <% include ../subnav %>
  <h1>Edit Location</h1>
  <form method='POST' action='/admin/locations/<%= location.id %>' enctype='multipart/form-data'>
    <% include form %>
  </form>
</main>
