<main class='container'>
  <% include ../subnav %>
  <h1>Market</h1>
  <% if (market.open) { %>
    <p>
      <strong>The market is open.</strong>
      <form method='POST' action='/admin/market'>
        <input type='hidden' name='open' value='0'>
        <button type='submit' class='btn btn-danger'>Close It</button>
      </form>
    </p>
  <% } else { %>
    <p>
      <strong>The market is closed.</strong>
      <form method='POST' action='/admin/market'>
        <input type='hidden' name='open' value='1'>
        <button type='submit' class='btn btn-success'>Open It</button>
      </form>
    </p>
  <% } %>
</main>
