<main class='container'>

  <h1 class='text-center'>
    <img src='<%= assets.path('img/logo-small.png') %>'>
  </h1>

  <% if (locals.user) { %>
    <h1 class='text-center'>Uh oh! Looks like you don't have access to this page.</h1>
    <p class='text-center'>
      Go back to the <a href='/'>home page</a>?
    </p>
  <% } else { %>
    <p class='text-center'>You need to sign in to access to this page.</p>
    <% include auth/signin-form %>
  <% } %>

</main>
