<main class='container text-center'>

  <h1>
    <img src='<%= assets.path('img/logo-small.png') %>'>
  </h1>

  <h1>Whoops! That page doesnʼt exist.</h1>

  <p>
    Go back to the <a href='/'>home page</a>?
  </p>

</main>
