<!doctype html>
<html>
<head>
  <% include head %>
</head>
<body>

<% include nav %>

<div class='container text-center'>

  <h1>
    <img src='/img/logo-small.png'>
  </h1>

  <h1>Whoops! That page doesn't exist.</h1>

  <p>
    Go back to the <a href='/'>home page</a>?
  </p>

</div>

<% include footer %>

<script src='/js/app.js'></script>

</body>
</html>

