<div class='footer'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-4'>
        <h2>
          <img src='/img/logo.png' style='max-height: 100px;'>
        </h2>
      </div>
      <div class='col-md-4'>
        <h2>Contact</h2>
        <p>
          <strong>Phone:</strong> (803) 920-7153
          <br>
          <strong>Email:</strong> <a href='mailto:alexandrea@aikenorganics.com'>alexandrea@aikenorganics.com</a>
        </p>
      </div>
      <div class='col-md-4'>
        <h2>Location</h2>
        <p>
          123 Street Drive
          <br>
          Aiken SC 55555
        </p>
      </div>
    </div>
    <hr>
    <div class='colophon'>
      &copy; Aiken Organics
    </div>
  </div>
</div>
