<div class='footer'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-4'>
        <h2>
          <img src='/img/logo-small.png'>
        </h2>
      </div>
      <div class='col-md-4'>
        <h2>Contact</h2>
        <p>
          <strong>Phone:</strong> (803) 920-7153
          <br>
          <strong>Email:</strong> <a href='mailto:alexandrea@aikenorganics.com'>alexandrea@aikenorganics.com</a>
        </p>
      </div>
      <div class='col-md-4'>
        <h2>Social</h2>
        <p>
          <a href='https://twitter.com/aikenorganics'>
            <img src='/img/twitter-32.png'>
            @aikenorganics
          </a>
        </p>
        <p>
          <a href='https://www.facebook.com/aikenorganics'>
            <img src='/img/facebook-3-32.png'>
            @aikenorganics
          </a>
        </p>
        <p>
          <a href='https://instagram.com/aikenorganics'>
            <img src='/img/instagram-32.png'>
            @aikenorganics
          </a>
        </p>
      </div>
    </div>
    <hr>
    <div class='colophon'>
      <p>
        &copy; Aiken Organics
      </p>
    </div>
  </div>
</div>
