<!doctype html>
<html>
<head>
  <% include head %>
</head>
<body>

<% include nav %>

<div class='jumbotron covered'>
  <div class='cover' style='background-image: url(/img/field-one.jpg);'></div>
  <div class='container content slide-in'>
    <img src='/img/logo-small.png'>
    <h1>Making Local Easy</h1>
    <p class='lead'>
      <strong>
      Aiken’s Online Farmer’s Market
      </strong>
    </p>
    <p>
      <a href='/learn' class='btn btn-primary btn-lg' role='button'>
        Learn More
      </a>
    </p>
  </div>
</div>
<div class='container' id='how-it-works'>
  <h1 class='text-center'>How it Works</h1>
  <div class='row'>
    <div class='col-md-6 text-center'>
      <img src='/img/vegetables-square.jpg' class='img-circle'>
      <h2>1. Farmer’s post available products</h2>
    </div>
    <div class='col-md-6 text-center'>
      <img src='/img/pen-and-pad-square.jpg' class='img-circle'>
      <h2>2. Customers place their order</h2>
      <p>Sunday 8am - Wednesday 12pm</p>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-6 text-center'>
      <img src='/img/veggies-in-boxes-square.jpg' class='img-circle'>
      <h2>3. Sellers deliver order</h2>
    </div>
    <div class='col-md-6 text-center'>
      <img src='/img/food-basket-square.jpg' class='img-circle'>
      <h2>4. Customer picks up order</h2>
      <p>Magnolia's Cafe, Thursday 4:30pm-7:00pm</p>
    </div>
  </div>
</div>
<div class='covered hero-secondary'>
  <div class='cover' style='background-image: url(/img/field-two.jpg);'></div>
  <div class='container content'>
    <div class='row'>
      <h2>Meet the Farmers</h2>
      <p>
        <a href='/farmers' class='btn btn-primary btn-lg' role='button'>
          Meet the Farmers
        </a>
      </p>
    </div>
  </div>
</div>
<div class='container' id='about'>
  <div class='row'>
    <div class='col-md-6'>
      <h2>Alexandrea</h2>
      <hr>
      <p>
        Alexandrea Kneece and her husband moved to Aiken in 2013. Alexandrea is
        a yoga instructor and manages Aiken Yoga. Due to health reasons, Alexandrea
        started to read and learn about the power of food. She made a change in her
        life. She now eats as organic and local as possible. She believes food is the
        real medicine. She was a customer of a similar online farmers market previously
        and <b><i>loved</i></b> the convenience of shopping online and <b><i>knowing</i></b>
        everything that was bought supported the local economy. Alexandrea wants to bring
        the same idea to Aiken.
      </p>
    </div>
    <div class='col-md-6'>
      <p class='text-center'>
        <img class='img-rounded' src='/img/alex-small.jpg'>
      </p>
    </div>
  </div>
</div>

<% include footer %>

<script src='/js/app.js'></script>

</body>
</html>
