<nav class='navbar navbar-inverse navbar-fixed-top'>
  <% if (locals.flash && flash.success) { %>
    <div id='message' class='active'>
      <span class='alert alert-success'>
        <span class='octicon octicon-check'></span>
        <%= flash.success %>
      </span>
    </div>
  <% } %>
  <div class='container'>
    <div class='collapse navbar-collapse pull-right'>
      <ul class='nav navbar-nav'>
        <li>
          <a href='/'>Home</a>
        </li>
        <li>
          <a href='/#about'>About</a>
        </li>
        <li>
          <a href='/#how-it-works'>Learn More</a>
        </li>
        <% if (locals.admin) { %>
          <li>
            <% if (locals.user) { %>
              <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button'>
                Account
                <span class='caret'></span>
              </a>
              <ul class='dropdown-menu' role='menu'>
                <li role='presentation' class='dropdown-header'>
                  <% if (user.first || user.last) { %>
                    <%= user.first %>
                    <%= user.last %>
                    <br>
                  <% } %>
                  <%= user.email %>
                </li>
                <li>
                  <a href='/settings/account'>Settings</a>
                </li>
                <li>
                  <a href='/auth/signout'>Sign Out</a>
                </li>
              </ul>
            <% } else { %>
              <a href='/signin'>Sign In</a>
            <% } %>
          </li>
        <% } %>
      </ul>
    </div>
    <div class="navbar-header">
      <a class='navbar-brand' href='/'>
        <strong>Aiken Organics</strong>
      </a>
    </div>
  </div>
</nav>
