<div class='alert alert-warning text-center'>
  <p>
    <strong>The market is currently closed.</strong> Check back later to place your order.
  </p>
</div>
<ul class='nav nav-tabs subnav'>
  <li<% if (/\/products/i.test(req.originalUrl)) { %> class='active'<% } %>>
    <a href='/products'>Products</a>
  </li>
  <li<% if (/\/growers/i.test(req.originalUrl)) { %> class='active'<% } %>>
    <a href='/growers'>Growers</a>
  </li>
</ul>
