<!doctype html>
<html>
<head>
  <% include ../head %>
</head>
<body>

<% include ../nav %>

<div class='container'>
  <h1>Edit Category</h1>
  <form method='POST' action='/categories/<%= category.id %>' enctype='multipart/form-data'>
    <% include form %>
  </form>
</div>

<% include ../footer %>

<script src='/js/app.js'></script>

</body>
</html>


