<!doctype html>
<html>
<head>
  <% include ../head %>
</head>
<body>

<% include ../nav %>

<div class='container'>
  <h1>Categories</h1>
  <p class='text-right'>
    <a class='btn btn-primary' href='/categories/new'>New</a>
  </p>
  <hr>
  <% categories.forEach(function(category) { %>
    <h3>
      <a href='/categories/<%= category.id %>'><%= category.name %></a>
      <small><a href='/categories/<%= category.id %>/edit'>Edit</a></small>
    </h3>
  <% }); %>
</div>

<% include ../footer %>

<script src='/js/app.js'></script>

</body>
</html>
