<!doctype html>
<html>
<head>
  <% include ../head %>
</head>
<body>

<% include ../nav %>

<div class='container'>
  <h1>
    Categories
    <a class='btn btn-default btn-xs' href='/categories/new'>New Category</a>
  </h1>
  <hr>
  <% categories.forEach(function(category) { %>
    <h3>
      <a href='/categories/<%= category.id %>'><%= category.name %></a>
      <small><a class='btn btn-default btn-xs' href='/categories/<%= category.id %>/edit'>Edit</a></small>
    </h3>
  <% }); %>
</div>

<% include ../footer %>

<script src='/js/app.js'></script>

</body>
</html>
