<ul class='nav nav-pills nav-stacked'>
  <% categories.forEach(function(category) { %>
    <li<% if (+req.query.category_id === category.id) { %> class='active'<% } %>>
      <a href='/products?category_id=<%= category.id %>'>
        <%= category.name %>
      </a>
    </li>
  <% }); %>
</ul>
