<% if (locals.user) { %>
  <% if (!locals.open) { %>
    <button type='submit' class='btn btn-default' disabled>Market Closed</button>

  <% } else if (!product.available()) { %>
    <button type='submit' class='btn btn-default' disabled>Sold Out</button>

  <% } else if (!product.grower.active || !product.active) { %>
    <button type='submit' class='btn btn-default' disabled>Unavailable</button>

  <% } else { %>
    <script type='application/json' data-cart><%- JSON.stringify({
      product_id: product.id,
      available: product.available(),
      quantity: cart.quantity(product)
    }) %></script>
  <% } %>
<% } %>
