<form method='POST' class='form-inline' action='/cart'>
  <input type='hidden' name='return_to' value='<%= req.originalUrl %>'>
  <input type='hidden' name='product_id' value='<%= product.id %>'>
  <input type='hidden' name='quantity' value='0'>
  <button type='submit' class='btn btn-danger btn-xs'>Remove</button>
</form>
