<div class='hidden-print btn-group'>
  <% if (req.query.full) { %>
    <a class='btn btn-default' href='/admin/orders<%= locals.product ? '?product_id=' + product.id : '' %>'>
      List
    </a>
    <a class='btn btn-primary' disabled>
      Full
    </a>
  <% } else { %>
    <a class='btn btn-primary' disabled>
      List
    </a>
    <a class='btn btn-default' href='/admin/orders?full=1<%= locals.product ? '&product_id=' + product.id : '' %>'>
      Full
    </a>
  <% } %>
</div>
