<main class='container'>

  <% include ../subnav %>

  <h1>
    Orders
    <% if (locals.product) { %>
      for
      <a href='/products/<%= product.id %>'>
        <%= product.name %>
      </a>
    <% } %>
  </h1>
  <% include controls %>
  <hr>
  <% orders.forEach(function (order) { %>
    <% include ./order %>
  <% }) %>

</main>
