<% if (order.status === 'complete') { %>
  <span class='label label-success'>Complete</span>
<% } else if (order.status === 'open') { %>
  <span class='label label-info'>Open</span>
<% } else if (order.status === 'canceled') { %>
  <span class='label label-danger'>Canceled</span>
<% } %>
