<main class='container'>
  <% include ../subnav %>
  <h1>User Emails</h1>
  <a href='/admin/users'>
    Full List
  </a>
  <hr>
  <textarea rows='30' class='form-control'><%=
    users.map(function (user) { return user.email }).join('\n')
  %></textarea>
</main>
