<main class='container'>
  <% include ../subnav %>
  <h1>Growers</h1>
  <hr>
  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Active</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% growers.forEach(function(grower) { %>
        <tr>
          <td><a href='/admin/growers/<%= grower.id %>'><%= grower.name %></a></td>
          <td><% include active %></td>
          <td>$<%= grower.total || 0 %></td>
        </tr>
      <% }) %>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td>$<%= growers.reduce((total, grower) => { return total + +grower.total }, 0).toFixed(2) %></td>
      </tr>
    </tfoot>
  </table>
</main>
