.message {
  opacity: 0;
  visibility: hidden;
  text-align: center;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  height: 0;
  transition: opacity 0.25s, visibility 0s 0.25s;
  z-index: 1040;
}

.message.active {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.message .alert {
  padding: 5px;
}
