<main class='container'>

  <% include ../subnav %>

  <div class='row'>
    <div class='col-md-3'>
      <form>
        <input class='form-control' type='search' name='search' placeholder='Search…' value='<%= req.query.search || '' %>'>
      </form>
      <hr>
      <% include ../categories/nav %>
    </div>
    <div class='col-md-9'>
      <% products.forEach(function(product) { %>
        <% include ../products/product %>
      <% }) %>
      <hr>
      <% if (products.more) { %>
        <a class='pull-right' href='<%= urlWith({page: page + 1}) %>'>
          Next Page →
        </a>
      <% } %>
      <% if (page > 1) { %>
        <a href='<%= urlWith({page: page - 1}) %>'>
          ← Previous Page
        </a>
      <% } %>
    </div>
  </div>

</main>
