<!doctype html>
<html>
<head>
  <% include ../head %>
</head>
<body>

<% include ../nav %>

<div class='container'>
  <h1>New Product</h1>
  <h4><%= locals.grower.name %></h4>
  <form method='POST' action='/growers/<%= locals.grower.id %>/products' enctype='multipart/form-data'>
    <% include form %>
  </form>
</div>

<% include ../footer %>

<script src='/js/app.js'></script>

</body>
</html>
