<main class='container'>

  <% include ../subnav %>

  <h1>New Product</h1>
  <h4><%= locals.grower.name %></h4>
  <form method='POST' action='/growers/<%= locals.grower.id %>/products/new'>
    <% include form %>
  </form>
</main>
